.logo {
   padding: 1vmin;
   height: auto;
   width: 20vmin;
   position: absolute;
   top: 0px;
   left: 0px;
}

.click {
   height: auto;
   width: 15vmin;
   position: relative;
   top: 1vmin;
   right: 0px;
}

.engineeringMeeting {
   text-align: center;
   font-family: "Proxima-Nova-Regular";
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   justify-content: center;
   display: flex;
}

.engineeringMeeting .sketch-view {
   display: flex;
   flex-direction: column;
}

.engineeringMeeting .sketch-view .EngineeringMeetingSketch {
   padding-bottom: 2vmin;
}

.engineeringMeeting .sketch-view .randomiseButton {
   align-self: center;
   padding: 1vmin;
   margin-bottom: 1vmin;
}

.engineeringMeeting .meeting-structure .block {
   padding: 1vmin;
   margin: 1vmin;
   justify-items: left;
   white-space: pre-line;
   text-align: left;
   display: flex;
   flex-direction: row;
   width: 98%;
   height: auto;
   background-color: #f3f3f3;
}

.engineeringMeeting .meeting-structure {
   align-self: center;
}

.engineeringMeeting .meeting-structure .meeting-name {
   position: relative;
   padding-left: 1vmin;
   text-align: left;
}

.engineeringMeeting .meeting-structure .meeting-duration {
   position: relative;
   padding-left: 1vmin;
   text-align: left;
}

.engineeringMeeting .meeting-structure .block .block-image {
   width: 10vmin;
   height: auto;
   align-self: center;
}

.engineeringMeeting .meeting-structure .block .block-details {
   padding-left: 2vmin;
   align-self: flex-start;
   margin-left: 2vmin;
}

@media (orientation: landscape) {
   .engineeringMeeting {
      flex-direction: row;
   }

   .engineeringMeeting .sketch-view .EngineeringMeetingSketch {
      height: 80vh;
      width: 40vw;
   }

   .engineeringMeeting .meeting-structure {
      width: 60vw;
   }
}

@media (orientation: portrait) {
   .engineeringMeeting {
      flex-direction: column;
   }

   .engineeringMeeting .sketch-view .EngineeringMeetingSketch {
      height: 50vh;
      width: auto;
   }

   .engineeringMeeting .meeting-structure {
      width: 100vw;
      padding-left: 4vmin;
      padding-right: 4vmin;
      padding-bottom: 4vmin;
   }
}
