html,
body {
   height: 100%;
}

html {
   display: table;
   margin: auto;
}

body {
   font-family: "Proxima-Nova-Regular";
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   background-color: #ffffff;
   width: 100vw;
   height: 100vh;
   display: table-cell;
   vertical-align: middle;
}

@font-face {
   font-family: "Proxima-Nova-Regular";
   src: local("Proxima-Nova-Regular"), url(../resources/fonts/proxima-nova.otf) format("opentype");
}

* {
   box-sizing: border-box;
}
